<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Gift Shop</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Duquesne Incline</h1>
            <img src="../static/DuqInclineLogo.png" alt="Logo">
        </div>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./things_to_do.html">Things To Do</a>
            <a href="./gift_shop.html">Gift Shop</a>
            <a href="./about.html">About the Incline</a>
            <a href="#" class="btn">Book a tour!</a>
        </nav>
    </header>

    <main>
        <section class="gift-shop-container">
            <div class="gift-shops">
                <img src="../static/font_page.jpg" alt="Gift Shop Interior" class="gift-shop-title-image">
                <div class="gift-titles">
                    <h2>Gift Shop</h2>
                    <p>We offer many one of a kind items that were custom made for the Incline</p>
                </div>
                <p class="creds">Photo courtesy of "No Home Just Room"</p>
            </div>
        </section>

        <section>
            <article class="product-item">
                <div class="product-info">
                    <h3 class="product-title">Shot Glasses</h3>
                    <p class="product-description">
                        Many shot glasses are for sale including a slanted one.
                    </p>
                </div>
                <div>
                    <img src="../static/glasses.jpg" alt="Shot Glasses" class="product-image">
                    <div class="creds">
                        <p>Photo courtesy of "Duquesne Incline Gift Shop"</p>
                    </div>
                </div>
            </article>

            <article class="product-item reverse">
                <div>
                    <img src="../static/ornaments.jpg" alt="Ornament" class="product-image">
                    <div class="creds">
                        <p>Photo courtesy of "Duquesne Incline Gift Shop"</p>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-title">Ornament</h3>
                    <p class="product-description">
                        This handmade Incline wooden ornament is a big seller and is only
                        available here.
                    </p>
                </div>
            </article>

            <article class="product-item">
                <div class="product-info">
                    <h3 class="product-title">Metal plates</h3>
                    <p class="product-description">
                        A full assortment of Wendell August Forge metal plates.
                    </p>
                </div>
                <div>
                    <img src="../static/plates.jpg" alt="Metal Plates" class="product-image">
                    <div class="creds">
                        <p>Photo courtesy of "Duquesne Incline Gift Shop"</p>
                    </div>
                </div>
            </article>
        </section>

        <section class="highlight-section">
            <p class="highlight-text">
                All types of pictures framed and unframed<br />
                Custom designed shirts available in youth and adult sizes<br />
                We also have one of the best selections of postcards in the city<br />
                Come visit our Gift Shop!
            </p>
        </section>
    </main>

    <footer>
        <div>
          <h1>Duquesne Incline</h1>
          <nav>
            <a href="../index.html">Home</a>
            <a href="./things_to_do.html">Things to Do</a>
            <a href="./gift_shop.html">Gift Shop</a>
            <a href="./about.html">About the Incline</a>
          </nav>
          <p>Copyright @2025 Duquesne Incline - All rights Reserved</p>
        </div>
      </footer>
</body>

</html>
