<!doctype html>
<html lang="en">
  
<head>
  <meta charset="UTF-8" />
  <title>Things To Do</title>
  <link rel="stylesheet" href="../static/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="../static/script.js" defer></script>
</head>

<body>
  <header>
    <div class="logo">
      <h1>Duquesne Incline</h1>
      <img src="../static/DuqInclineLogo.png" alt="Logo" />
    </div>
    <nav>
      <a href="../index.html">Home</a>
      <a href="./things_to_do.html">Things To Do</a>
      <a href="./gift_shop.html">Gift Shop</a>
      <a href="./about.html">About the Incline</a>
      <a href="#" class="btn">Book a tour!</a>
    </nav>
  </header>

  <main>
    <section>
      <h2 class="things-page-title">Things To Do</h2>
      <h3 class = "things-page-description">
        Enjoy the fun activities and restaurants near the Incline!
      </h3>
    </section>

    <section>
      <img src="../static/pitt_night.png"
        alt="Featured view of Pittsburgh" class="featured-image">
      <p class = "feature">Photo courtesy of "thrillist"</p>
    </section>

    <section>
      <h2 class="section-title">
        City Tours That Feature The Duquesne Incline
      </h2>
      <div class="tour-listings">
        <p class="tour-item">
          <span>Pittsburgh Tours and More - Pittsburgh Movie Locations, Sports,
            Breweries, Wineries and More.</span>
          <a href="http://www.pghtoursandmore.net" class="links">www.pghtoursandmore.net</a>
          <span>412-323-4707</span>
        </p>
        <p class="tour-item">
          <span>Molly's Trolleys -</span>
          <a href="http://www.mollystrolleyspgh.com" class="links">www.mollystrolleyspgh.com</a>
          <span>412-281-2055</span>
        </p>
        <p class="tour-item">
          <span>Rivers of Steel -</span>
          <a href="http://www.riversofsteel.com" class="links">www.riversofsteel.com</a>
          <span>412-464-4020 or 412-381-8687</span>
        </p>
        <p class="tour-item">
          <span>The Pittsburgh Tour Company - Hop on/Hop off Double Decker tour
            buses from London.</span>
          <a href="http://www.pghtours.com" class="links">www.pghtours.com</a>
          <span>412-381-8687</span>
        </p>
      </div>
    </section>

    <section class="after-visit">
      <h2 class="section-title">Things To Do After Incline Visit</h2>
      <div class="carousel-container">
        <button class="prev-btn">&lt</button>
        
        <div class="carousel">
          <div class="slide active">
            <img src="../static/Down_town.jpg" alt="Activity after incline visit">
            <h3>Downtown</h3>
          </div>
          <div class="slide">
            <img src="../static/Station_square.png" alt="Activity after incline visit">
            <h3>Station Square</h3>
          </div>
          <div class="slide">
            <img src="../static/North_shore.jpg" alt="Activity after incline visit">
            <h3>North Shore</h3>
          </div>
          <div class="slide">
            <img src="../static/Mount_washinton.png" alt="Activity after incline visit">
            <h3>Mount Washington Viewpoint</h3>
          </div>
        </div>
        <button class="next-btn">&gt</button>
      </div>
      <div class="creds">
        <p class="active"> Photo courtesy of "Urban Redevlopment Authority of Pittsburgh"</p>
      </div>
    </section>

    <section class="dining-options">
      <div class="dining-column">
        <h2 class="dining-title">Dining On Grand View Avenue</h2>
        <div class="dining-listings">
          <p class="dining-item">
            <span>Steel Mill Saloon</span>
            <a href="https://w.steelmillsaloon.com" class="links">wwhttps://w.steelmillsaloon.com</a>
            <span>412-586-4926</span>
          </p>
          <p class="dining-item">
            <span>Coal Hill Steak House (Grandview Salon)</span>
            <a href="http://www.thegrandviewsaloon.com" class="links">www.thegrandviewsaloon.com</a>
            <span>412-431-1400</span>
          </p>
          <p class="dining-item">
            <span>LeMont Restaurant</span>
            <a href="http://www.lemontpittsburgh.com" class="links">www.lemontpittsburgh.com</a>
            <span>412-431-3100</span>
          </p>
          <p class="dining-item">
            <span>Montery Bay Fish Grotto</span>
            <a href="http://www.montereybayfishgrotto.com" class="links">www.montereybayfishgrotto.com</a>
            <span>412-381-1919</span>
          </p>
        </div>
        <br />
        <h2 class="dining-title">Sites of Interest</h2>
        <div class="dining-listings">
          <p class="dining-item">
            <span>Visit Pittsburgh</span>
            <a href="http://www.visitpittsburgh.com" class="links">www.visitpittsburgh.com</a>
            <span>800-359-0758</span>
          </p>
          <p class="dining-item">
            <span>Popular Pittsburgh</span>
            <a href="http://www.popularpittsburgh.com" class="links">www.popularpittsburgh.com</a>
            <span>800-231-4788</span>
          </p>
        </div>
      </div>

      <div class="dining-column">
        <h2 class="dining-title">Station Square</h2>
        <div class="dining-listings">
          <p class="dining-item">
            <span>Sheraton Pittsburgh Hotel At Station Square</span>
            <a href="http://www.sheraton.com/stationsquare" class="links">www.sheraton.com/stationsquare</a>
            <span>412-261-2000</span>
          </p>
          <p class="dining-item">
            <span>Hard Rock Cafe</span>
            <a href="http://www.hardrock.com/pittsburgh" class="links">www.hardrock.com/pittsburgh</a>
            <span>412-481-7625</span>
          </p>
          <p class="dining-item">
            <span>Buca Di Bepo (Italian Cuisine)</span>
            <a href="http://www.bucadibeppo.com" class="links">www.bucadibeppo.com</a>
            <span>412-471-9463</span>
          </p>
          <p class="dining-item">
            <span>Gateway Clipper Fleet</span>
            <a href="http://www.gatewayclipper.com" class="links">www.gatewayclipper.com</a>
            <span>412-355-7993</span>
          </p>
          <p class="dining-item">
            <span>Molley's Trolleys- Charter A Customized Sightseeing
              Tour</span>
            <a href="http://www.mollystrolleyspittsburgh.com" class="links">www.mollystrolleyspittsburgh.com</a>
            <span>412-281-2085</span>
          </p>
          <p class="dining-item">
            <span>Grand Concourse</span>
            <a href="http://www.opentable.com/grand-concourse" class="links">www.opentable.com/grand-concourse</a>
            <span>412-261-1717</span>
          </p>
          <p class="dining-item">
            <span>Segway In Paradise-Guided Tours On Upright Two Wheeled
              Vehicles Offer An Unforgettable Way To Experience Pittsburgh
              412-337-3941</span>
            <a href="https://segwaypittsburgh.com" class="links">https://segwaypittsburgh.com</a>
          </p>
        </div>
      </div>
    </section>

    <section class="more-section">
      <button class="more-button">Read more about fun things to do!</button>
    </section>
  </main>
  <footer>
    <div>
      <h1>Duquesne Incline</h1>
      <nav>
        <a href="../index.html">Home</a>
        <a href="./things_to_do.html">Things to Do</a>
        <a href="./gift_shop.html">Gift Shop</a>
        <a href="./about.html">About the Incline</a>
      </nav>
      <p>Copyright @2025 Duquesne Incline - All rights Reserved</p>
    </div>
  </footer>
</body>

</html>
